[submodule "lkmpg"]
	path = lkmpg
	url = git@github.com:superpozycja/lkmpg.git

[submodule "knr"]
	path = knr
	url = git@github.com:superpozycja/knr.git
[submodule "go"]
	path = go
	url = git@github.com:superpozycja/go.git
